<style>
    body {
        background-color: #262425; /* Устанавливаем цвет заднего фона */
        margin: 0 auto;
        color: #F5F5DC;
        font-family: sans-serif; /* Шрифт текста */
        max-width: 100%;
    }

    .beige-bar {
        background-color: #F5F5DC; /* Цвет полосы */
        height: 20px; /* Высота полосы */
        width: 100%; /* Ширина полосы (по всей ширине экрана) */
    }

    .filler {
        height: 15px;
        width: 100%;
    }

    .main-text {
        margin: 3%;
        font-size: 45px;
    }

    .main-text2 {
        margin: 3%;
        font-size: 45px;
        align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        vertical-align: top;
    }

    h1 {
        font-size: 75px;
        margin-top: 10px;
    }

    h2 {
        font-size: 75px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 75px;
        margin-top: 10px;
    }

    video {
        align: center;
    }

    .phead {
        padding: 1%;
    }

    .pchisha {
        padding: 1%;
        background-color: #2A2527;
        border: 1px solid #343434;
    }

    .pphedya {
        padding: 1%;
        background-color: #25282A;
        border: 1px solid #343434;
    }

    .pdedka {
        padding: 1%;
        background-color: #292724;
        border: 1px solid #343434;
    }

    .pactors {
        padding: 1%;
        background-color: #252924;
        border: 1px solid #343434;
    }


    .button {
        width: 60%;
        display: inline-block;
        padding: 90px 50px;
        background-color: #1c7c91;
        color: white;
        text-decoration: none;
        clip-path: polygon(0% 50%, 15% 100%, 85% 100%, 100% 50%, 85% 0%, 15% 0%);
    }

    .inside-button{
        align: center;
        font-size: 55px;
    }

    .small-text{
        margin: right;
        align: right;
        font-size: 20px;
    }
</style>